@import "mix";

@font-face {
  font-family: Georgia;
  src: url(fonts/georgia.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/helvetica_neue/HelveticaNeueCyr-Thin.otf) ;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/helvetica_neue/HelveticaNeueCyr-UltraLight.otf) ;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

html {
  font: 18px / 1 'Helvetica Neue',
  'Helvetica',
  'Arial-Unicode',
  'Segoe UI',
  'Arial',
  sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.limit {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin: 2rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__logo {
    width: 100px;
  }

  &__navigation {
    flex: 1;
    max-width: 600px;
  }

  &__navigation {
    text-decoration: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  &__item {
    text-decoration: none;
    color: #000;
    line-height: 2;
  }

  &__active {
    text-decoration: none;
    color: $color-light;
    border-bottom: 1px solid;

  }
}

.greeting {
  height: 510px;
  margin-bottom: 8rem;
  position: relative;

  &__status {
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__info {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @include title(70px, 1.2);
    text-align: center;
  }

  &__text {
    margin-top: 2rem;
    text-align: center;
    @include subtitle(20px, 2);
  }
}

.status {
  display: flex;
  align-items: center;

  padding: 0;

  &--black {
    color: #000;
  }

  &__item {
    height: 10px;
    width: 5rem;
    list-style: none;
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 3px solid;
      cursor: pointer;
    }
  }

  &__active {
    border-bottom: 3px solid;
  }
}

.acc-title {
  &__sub {
    @include subtitle(14px, 1.4);
    color: $color-light;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    text-transform: uppercase;

    &:after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 11rem;
      background: $color-light;
      margin-left: 1rem;
      position: relative;
      top: -.25rem;
    }
  }

  &__main {
    @include title(50px, 1.2);
    font-weight: bold;
  }

}

.cla-title {
  max-width: 750px;
  margin: 0 auto 4rem;

  &__sub {
    color: $color-light;
    @include subtitle(20px, 1.6);
    letter-spacing: 4px;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__main {
    @include title(50px, 1.2);
    text-align: center;
  }
}

.ts {
  position: relative;
  margin-bottom: 10rem;

  &__view {
    display: flex;

    &:before {
      content: '';
      display: block;
      background: $color-light;
      height: 26rem;
      position: absolute;
      right: 0;
      bottom: 4rem;
      left: 0;
      z-index: -1;
    }
  }

  &__body {
    height: 600px;
    flex: 1;
    padding-left: 78px;
    padding-right: 3rem;
  }

  &__header {
    padding-bottom: 9rem;
    padding-top: 5px;
    max-width: 300px;
    @include subtitle(20px, 1.6);
    color: $grey;
  }

  &__content {
    max-width: 300px;
    @include subtitle(20px, 1.6);
    margin-bottom: 2rem;
    color: #fff;
  }

  &__slides {
    position: relative;
    z-index: 1;
  }
  &__title {
    width: 600px;
    margin-left: $col-3;
    margin-bottom: 3rem;
  }

  &__button {
    padding-bottom: 10px;
    color: #fff;
    margin-left: 2rem;
    text-decoration: none;
  }

  &__pictures {
    margin-left: $col-2;
    height: 630px;
    display: flex;
    position: relative;

  }
  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    padding-right: 2rem;
    background: $color-dark;
    height: 14rem;
    margin-left: 2rem;
    width: 430px;
    position: absolute;
    bottom: -2rem;
    left: 0;
  }

}

.gs {
  margin-bottom: 10rem;

  &__view {
    display: flex;
    width: $col-10;
    margin: 0 auto 4rem;;
    justify-content: space-between;
    align-items: center;
  }

  &__view-item {
    height: 270px;
    width: 180px;
  }

  &__view-item:nth-child(2n) {
    height: 240px;
  }

  &__body {
    width: $col-10;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 180px;
  }

  &__title {
    margin-bottom: 1rem;
    @include subtitle(20px, 1.3);
  }

  &__num {
    @include title(30px, 1.7);
    font-weight: 700;
    color: $color-light;
  }

  &__text {
    @include text();
  }
}

.as {
  background: $color-dark;
  display: flex;
  align-items: stretch;
  color: #fff;
  margin-bottom: 10rem;
  padding-bottom: 5rem;

  &__view {
    width: $col-5;
    text-align: center;
  }

  &__block {
    flex: 1;
    margin-top: 5rem;
  }
  &__sub {
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    letter-spacing: 4px;
    @include subtitle(18px, 1.2);
  }

  &__title {
    font-size: 30px;
    margin-bottom: 4rem;
    @include title(40px, 1.2);
  }

  &__text {
    font-size: 20px;
    margin-bottom: 3.5rem;
    @include subtitle(20px, 1.7);
  }

  &__limit {
    max-width: 300px;
    margin: 0 auto;
  }

  &__slides {
    display: flex;
    margin-bottom: 2rem;
  }

  &__slide {
    padding-right: 2rem;
  }
}

.button {
  position: relative;
  text-decoration: none;
  padding: 17px 40px;
  font-size: 14px;

  &--white {
    color: #fff;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    border: 1px solid;
    width: 100%;
    height: 100%;
  }

  &:after {
    top: -1px;
    left: -1px;
  }

  &:before {
    top: 1px;
    left: 1px;
  }
}

.rt {
  margin-bottom: 10rem;

  &__slides {
    width: $col-8;
    margin: 0 auto;
    padding: 0 1rem;
  }
  &__quote {
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Helvetica',
    'Arial-Unicode',
    'Segoe UI',
    'Arial',
    sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.45;

    &:before {
      content: "“";
      margin-right: .2rem;
      color: $color-light;
    }

    &:after {
      content: "”";
      margin-left: .2rem;
      color: $color-light;
    }
  }
  &__status {
    justify-content: center;
  }

  &__author {
    display: flex;
    justify-content: center;
  }
}

.author {
  display: flex;

  &__photo {
    border-radius: 50%;
    width: 85px;
    height: 85px;
  }
  &__info {
    padding-left: 1rem;
    padding-top: 20px;
  }
  &__name {
    @include subtitle(18px, 1.5);
  }
  &__date {
    @include subtitle(14px, 1);
    color: $color-light;
  }
}

.ceremony {
  display: flex;
  height: 380px;
  align-items: stretch;


  &__play {
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -45px -45px 0 0;
    border-radius: 50%;
  }

  &__view {
    width: 50%;
    position: relative;
    background: url(images/image-380-900.svg) center center;
  }

  &__content {
    text-align: center;
    padding: 3rem 2rem 0;
    flex: 1;
    background: $color-dark;
    color: #fff;
  }

  &__sub {
    font-size: 14px;
    margin-bottom: 1rem;
    @include subtitle(12px, 1);
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3.4rem;

    @include title(43px, 1.4);
  }

  &__text {
    @include subtitle(18px, 1.7);
  }

  &__picture {
    position: absolute;
    bottom: 0;
    width: 900px;
    max-width: none;
  }
}

.partners {
  background: $color-light;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin: 0 0 10rem 0;

  &__logo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);

    }
  }

}

.news {
  margin-bottom: 10rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-left: $col-1;
  margin-right: $col-1;

  &__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
    margin-bottom: 1rem;
  }

  &__center {

  }

  &__date {
    font-size: 14px;
    margin-bottom: 1rem;
    color: $color-light;
  }

  &__title {
    @include subtitle(20px, 1.3);
    margin-bottom: 1rem;
  }

  &__text {
    @include text();
    margin-bottom: 2rem;
    @include subtitle(18px, 1.4);
    color: $grey;
  }

  &__center {
    //padding: 0 1rem;
  }

  &__item {
    //width: 20%;
    flex: 1 0 30%;
  }

  &__more {
    text-decoration: none;
    color: $color-dark;
    font-size: 16px;
  }

  &__item:nth-child(2) {
    margin: 0 2rem;
  }
}

.menu-news {
  background: $color-light;
  padding: 3rem 0 0 2rem;
  color: #fff;

  &__title {
    @include title(45px, 1.4);
    margin-bottom: 2rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 31px;
    margin-left: 2rem;
    color: #fff;
    text-decoration: none;
  }
}

.feedback {
  display: flex;
  margin-bottom: 10rem;

  &__view, &__form {
    flex-grow: 0;
    width: 50%;
  }
  &__view {
    background: url(images/image-380-900.svg) center center;
  }

  &__picture {
    width: 900px;
    max-width: none;
  }

  &__form {
    background: $color-light;
    padding-bottom: 4rem;
  }

}

.fv-view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1.5rem;

  &__sub-title {
    color: $color-light;
    @include subtitle(12px, 1.6);
    letter-spacing: 4px;
    text-transform: uppercase;

  }
  &__title {
    @include title(50px, 1.2);
  }
}

.fv-form {
  color: #fff;

  &__sub-title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    @include subtitle(12px, 1.6);
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
  }
  &__title {
    @include title(40px, 1.4);
    text-align: center;
    margin-bottom: 2rem;
  }
  &__text {
    @include subtitle(18px, 1.6);
    text-align: center;
    margin-bottom: 2rem;
  }

  &__form_row {
    display: flex;
  }

  &__field {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    text-align: left;
    outline: none;
    resize: none;
    overflow: hidden;

    @include subtitle(16px, 1.5);

    &::placeholder {
      color: #fff;
    }
  }
  input {
    width: 48%;

  }
  textarea {
    width: 100%;
    height: 1.6rem;
    margin-bottom: 2rem;
  }

  &__b1 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__b2 {
    margin-bottom: 1rem;
  }

  &__button {
    margin: 0 auto;
    display: table;
  }

  &__path {
    padding: 0 .5rem;
    max-width: 470px;
    margin: 0 auto;
  }
}

.footer {
  background: $color-footer-bg;
  color: #fff;
  display: flex;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &:after {
    position: absolute;
    width: 100%;
    bottom: 0;
    content: '';
    height: .7rem;
    background: $color-footer-line;
  }

  &__address {
    margin-left: $col-2;
    width: 260px;
  }

  &__block {
    width: 50%;
    display: flex;
  }

  &__title {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    @include subtitle(20px, 1.5);
  }

  &__links {
    color: #fff;
    text-decoration: none;
    @include subtitle(15px, 1.6);
  }

  &__text {
    @include subtitle(15px, 1.6);
  }

  &__soc {
    margin-left: 1rem;
    width: 14rem;
  }
}

